# Go
bin/
tmp/
donegeon.db*
donegeon.local.db*
*.db
*.db-journal

# web
web/node_modules/
web/apps/client/node_modules/
web/apps/marketing/node_modules/
web/.turbo/
web/dist/*
!web/dist/embed.go
!web/dist/index.html
!web/dist/assets/
web/dist/assets/*
!web/dist/assets/app.js
!web/dist/assets/app.css
web/apps/client/.turbo
web/apps/marketing/.turbo
web/apps/client/playwright-report/
web/apps/client/test-results/
web/apps/client/blob-report/

# infra
infra/node_modules/
infra/.sst/
infra/.env
infra/.env.*

# editor
.DS_Store

# env
.env
.env.*
!.env.example
!.env.production.example

legacy
